n8n-workflows/01-trend-analysis.json
{
  "name": "Trend Analysis Weekly",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Lista di keywords da analizzare\nconst keywords = [\n  'wellness',\n  'productivity',\n  'fitness',\n  'sexual wellness',\n  'sustainability',\n  'fotovoltaico',\n  'benessere sessuale',\n  'meditazione',\n  'yoga',\n  'integratori naturali'\n];\n\nreturn keywords.map(keyword => ({\n  json: {\n    keyword: keyword,\n    geo: 'IT'\n  }\n}));"
      },
      "id": "code-setup-keywords",
      "name": "Setup Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_trends"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "geo",
              "value": "={{ $json.geo }}"
            },
            {
              "name": "api_key",
              "value": "42a03a12f3bb8d5d8d57ddc0d9851450b3e9b4d3323cfc8684bd1459f0a47683"
            },
            {
              "name": "data_type",
              "value": "TIMESERIES"
            },
            {
              "name": "date",
              "value": "now 7-d"
            }
          ]
        },
        "options": {}
      },
      "id": "http-serpapi-google-trends",
      "name": "SerpAPI Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Elabora i risultati da SerpAPI\n// La keyword è nella risposta SerpAPI in search_parameters.q\nconst items = $input.all();\nconst processedTrends = [];\n\nfor (const item of items) {\n  const serpData = item.json;\n  \n  // Recupera keyword dalla risposta SerpAPI\n  const keyword = serpData.search_parameters?.q || \n                  serpData.query || \n                  'unknown';\n  \n  const geo = serpData.search_parameters?.geo || 'IT';\n  \n  // Estrai dati da SerpAPI response\n  // La struttura è: interest_over_time.timeline_data[].values[].extracted_value\n  const interestOverTime = serpData.interest_over_time?.timeline_data || \n                           serpData.timeline_data || \n                           [];\n  \n  if (interestOverTime.length > 0) {\n    // Estrai i valori da timeline_data\n    // Ogni elemento ha values[] array con extracted_value\n    const scores = interestOverTime\n      .map(d => {\n        if (d.values && d.values.length > 0) {\n          // Prendi il primo valore dall'array values\n          return d.values[0].extracted_value || d.values[0].value || 0;\n        }\n        // Fallback per strutture alternative\n        return d.value || d.interest || 0;\n      })\n      .filter(v => v > 0);\n    \n    const avgScore = scores.length > 0 ? scores.reduce((a, b) => a + b, 0) / scores.length : 0;\n    const normalizedScore = (avgScore / 100) * 10;\n    \n    // Determina categoria\n    let category = 'wellbeing';\n    const keywordLower = keyword.toLowerCase();\n    if (keywordLower.includes('sexual') || keywordLower.includes('sessual') || keywordLower.includes('benessere sessuale')) {\n      category = 'sexual-wellbeing';\n    } else if (keywordLower.includes('sustainability') || keywordLower.includes('sostenibilità') || keywordLower.includes('fotovoltaico') || keywordLower.includes('green') || keywordLower.includes('eco')) {\n      category = 'sustainability';\n    }\n    \n    processedTrends.push({\n      keyword: keyword,\n      source: 'google',\n      score: parseFloat(normalizedScore.toFixed(2)),\n      category: category,\n      metadata: {\n        region: geo,\n        timeframe: 'last_12_months',\n        rawScore: avgScore,\n        dataPoints: interestOverTime.length,\n        dateRange: serpData.search_parameters?.date || 'today 12-m'\n      }\n    });\n  } else {\n    // Fallback se non ci sono dati\n    processedTrends.push({\n      keyword: keyword,\n      source: 'google',\n      score: 5.0,\n      category: 'wellbeing',\n      metadata: {\n        region: geo,\n        timeframe: 'last_12_months',\n        mock: true,\n        note: 'No data from SerpAPI'\n      }\n    });\n  }\n}\n\nreturn processedTrends.map(trend => ({ json: trend }));"
      },
      "id": "code-process-results",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Raccogli tutti i trend in un array\nconst items = $input.all();\nconst trends = items.map(item => item.json);\n\nreturn [{\n  json: {\n    trends: trends\n  }\n}];"
      },
      "id": "code-aggregate-trends",
      "name": "Aggregate Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://welltechbackend-production.up.railway.app/api/workflows/trends/analyze",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ { trends: $json.trends || [] } }}",
        "options": {}
      },
      "id": "http-save-trends",
      "name": "Save Trends to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Setup Keywords", "type": "main", "index": 0}]]
    },
    "Setup Keywords": {
      "main": [[{"node": "SerpAPI Google Trends", "type": "main", "index": 0}]]
    },
    "SerpAPI Google Trends": {
      "main": [[{"node": "Process Results", "type": "main", "index": 0}]]
    },
    "Process Results": {
      "main": [[{"node": "Aggregate Trends", "type": "main", "index": 0}]]
    },
    "Aggregate Trends": {
      "main": [[{"node": "Save Trends to Backend", "type": "main", "index": 0}]]
    },
    "Save Trends to Backend": {
      "main": [[]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-26T00:00:00.000Z",
  "versionId": "1"
}

